* {margin:0;padding:0}
html,body{height:100%;width:100%;}

body {
	background-image: url("background6_crop.jpg");
	background-size: cover;
	background-position: left bottom;
	background-repeat: no-repeat;
	text-align:center;
	background-attachment: fixed;
	background-color: gray;

}

@font-face {
  font-family: daniel;
  src: url("daniel.ttf");
}

#outer {
	height:100%;
	width:100%;
	display:table;
	vertical-align:middle;	
}
#container {
	text-align: center;
	position:relative;
	vertical-align:middle;
	display:table-cell;
	color: white;
	padding-bottom:15px;
	font-size: 5vw;
	color: honeydew;
	font-family: daniel, courier;
	font-weight: 400; 
}

ul {
	font-size: 2.5vw;
	font-family: "courier", Georgia; 
	font-weight: 200;
	text-align: center;
}

li {
	display: inline;
	margin: 3px;
}

li a{
	color: honeydew;
	text-decoration: none;
}

li a:visited {
	color: honeydew;
	text-decoration: none;
}

li a:hover {
	color: DarkSeaGreen;
	background-color: honeydew;
	text-decoration: none;
}

li a:active {
	color: honeydew;
	text-decoration: none;
	
}


