body, html {
  height: 100%;
}

@font-face {
  font-family: daniel;
  src: url("/Users/rebeccadelker/Desktop/Dropbox/rebeccadelker_web/daniel/daniel.ttf");
}


.bg {
  /* The image used */
  background-image: url("/Users/rebeccadelker/Desktop/Dropbox/rebeccadelker_web/background6_crop.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.jumbotron {
  display: flex;
  align-items: center;
}

.jumbotron h2 {
    font-size: 5vw;
    color: honeydew;
    font-family: daniel, courier;
    font-weight: 400; 
}

